*{
    margin: 0px;
    padding: 0px;
    background-color:rgb(116, 84, 181) ;
}

body{
    font-size: 25px;
    
}

header{
    background-color: rgb(186, 163, 231);
    color: black;
    font-size: 25px;
    border-bottom: solid 2px black;
    padding: 20px;
}